*{
    box-sizing: border-box;
}

html {
    background: rgba(230, 230, 230, 0.95);
}

body{
    background: transparent;
}

button{
    background: none;
    border: none;
    font-size: 16px;
    &:focus{
        outline-color: gray;
    }
}

.navigation{
    height: 40px;
    -webkit-app-region: drag;
    
    button{
        -webkit-app-region: no-drag;
        height: 40px;
        background: none;
        color: rgba(white, 0.5);
        border: none;
        min-width: 60px;
        color: black;
        &:hover{
            background: rgba(white, 0.1);
            color: black;
        }
    }
    .window-buttons{
        position: fixed;
        top: 0;
        right: 0;
        font-size: 16px;
    }
    .close-btn{
        &:hover{
            background: rgb(200, 0, 0);
        }
    }
}


.main{
    height: 100vh;
    overflow: hidden;
}

.content{
    height: 100vh;
    background: rgb(255, 255, 255);
    color: black;
}
