<div class="main">
    <div class="navigation">
        <div class="navigation-buttons">
            <button>File</button>
            <button>Edit</button>
            <button>View</button>
            <button (click)="notification()">Notification</button>
            <button>Help</button>
        </div>
        <div class="window-buttons" electronView>
            <button (click)="minimize()">
                <fa-icon [icon]="faWindowMinimize"></fa-icon>
            </button>
            <button (click)="toggle()">
                <fa-icon [icon]="faWindowMaximize"></fa-icon>
            </button>
            <button (click)="close()" class="close-btn">
                <fa-icon [icon]="faTimes"></fa-icon>
            </button>
        </div>
    </div>
    <div class="content">
        <button class="btn btn-primary" (click)="test()">
            Test
        </button>
        <router-outlet></router-outlet>
    </div>
</div>