<router-outlet></router-outlet>
<button class="btn btn-primary m-2" electronView (click)="fullScreen(true)">Full Screen</button>
<button class="btn btn-primary m-2" electronView (click)="fullScreen(false)">Normal Screen</button>
<br>
<button class="btn btn-primary m-2" (click)="testHttp()">Test HTTP</button>
<pre>{{testData | json}}</pre>
<br>
<button class="btn btn-primary m-2" (click)="localStorageSet()">Test local storage setItem</button>
<button class="btn btn-primary m-2" (click)="localStorageGet()">Test local storage getItem</button>
<pre>{{localStorageItem | json}}</pre>